@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inika:wght@400;700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Italianno&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*----  footer    -----*/
.footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #731012;
  padding: 3rem 1rem;
  gap: 1rem;
}
.footer .footer-container{
  width: 90%;
}
.footer .container-footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  gap: 1rem;
}
.footer .footer-img{
  height: 150px;
}
.footer .footer-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer .container-footer h2{
  font-size: clamp(15px, 2vw, 20px);
  color: white;
  font-family: "Karla", sans-serif;
  font-weight: 100;
}
.footer hr{
  width: 100%;
  border: 1px solid rgb(156, 156, 156);
}
.footer .header-footer{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  text-align: center;
}
.footer .header-footer a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid #731012;
  transition: .5s ease;
}
.footer .header-footer a:hover{
  border-bottom: 2px solid white;
}
/*------  footer-nav    ----*/
.footer-nav{
  background: black;
  padding: 1.5rem 1rem;
}
.footer-nav a{
  text-decoration: none;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: clamp(10px, 1vw, 16px);
  font-weight: 100;
}
