
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inika:wght@400;700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Italianno&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/*
.italianno-regular {
  font-family: "Karla", sans-serif;
  font-family: "Italianno", cursive;
  font-family: "Instrument Sans", sans-serif;
  font-family: "Inria Sans", sans-serif;
  font-family: "Inika", serif;
  font-family: "Caveat", cursive;

}*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}




/*----    banner    ----*/
.banner{
  min-height: 40vh;
  background-image: linear-gradient(100deg, #00000030, #00000020), url('../img/banner-sandwich.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;   
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  gap: 2rem;
  z-index: 1;

  /*animation: zoomBackground 20s ease-in-out infinite;*/
}



@keyframes zoomBackground {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}

.banner .entrance{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.banner .entrance .banner-text{
  width: 100%;
  align-items: center;
  gap: 1rem;
}
.banner .entrance .icon-a{
  display: flex;
  justify-content: right;
  width: 50%;
  height: 210px;
  z-index: 1;
  cursor: default;
  pointer-events: none;

}
.banner .icon-a svg{
  fill: white;
  border: 4px solid white;
  padding: 1rem;
  border-radius: 50%;
  transition: all 500ms ease;
  z-index: 1;
  cursor: default;
  pointer-events: none;
}

.banner .banner-text h3{
  color: white;
  font-family: "Inika", serif;
  font-size: clamp(30px, 5vw, 50px);    /*3.5rem*/
  font-weight: 700;
}

.banner .banner-text p{
  color: white;
  font-family: "Italianno", cursive;
  font-size: clamp(20px, 4.5vw, 60px); /*4rem*/
  font-weight: 100;
}

/*---------  menu    -------*/
/*------  menu    ------*/
/*------  menu-tablet   -------*/
/*----- promotions    -----*/
/*------  */
/*----    our   -----*/
/*------  CONTACT   -----*/
/*------  top    ----*/
/*-----*/
/*----  footer    -----*/
/*-----*/


/*------  banner    ----*/
@media (max-width: 1200px){
  .banner .banner-text{
  width: 100%;
}
}
@media (max-width:750px){
  
}
@media (max-width: 1000px){
.banner .entrance{
  width: 100%;

}
}
@media(max-width: 850px){
.banner .entrance .icon-a{
  display: flex;
  width: 40%;
  height: 170px;
  z-index: 200;
}
}
@media (max-width: 1000px){
  .banner .entrance{
  gap: 1rem;
}
}
@media(max-width: 743px){
  .banner .entrance{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.banner .entrance .icon-a{
  display: flex;
  justify-content: right;
  width: 210px;
  height: 210px;
  z-index: 200;
}.banner .entrance .banner-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: .5rem;
}
.banner .entrance .banner-text h3{
  text-align: center;
}
}




/*------   menu-card --------*/
/*-------   promotions  ------*/


/*------ our    ------*/
@media(max-width: 690px){
  .contact h3{
  padding-bottom: 0;
}
}
@media(max-width: 400px){
  .our .our-img{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr );
}
}
@media(max-width: 690px){
  .contact .map{
  width: 100%;
  height: 60vh;
}
}



