
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inika:wght@400;700&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Italianno&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/*
.italianno-regular {
  font-family: "Karla", sans-serif;
  font-family: "Italianno", cursive;
  font-family: "Instrument Sans", sans-serif;
  font-family: "Inria Sans", sans-serif;
  font-family: "Inika", serif;
  font-family: "Caveat", cursive;

}*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;

}

body{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 200;
  padding: 1rem 0px;
  box-shadow: 0px  1px 10px rgba(0, 0, 0, 0.404);
  background: white;
}
.header .menu-bars{
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .menu-bars .links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.header .menu-bars .links li .link-bar{
  text-decoration: none;
  font-family: "Karla", sans-serif;
  color: #731012;
  border: none;
  transition: .5s ease;
}
.header .menu-bars .links li .link-bar:hover{
  border: none;
  color: #F7A936;
}

.header .menu-bars .links li span{
  font-family: "Karla", sans-serif;
  color: #731012;
}
.header .menu-bars .links li span .icon-phone {
  margin: .5rem;
  color: white;
  background: #731012;
  padding: .2rem;
  font-size: .7rem;
  border-radius: 50%;
  border: 1px solid #731012;
  transition: all 500ms ease;
}
.header .menu-bars  .img-logo{
  width: 70px;
}
.header .menu-bars  .img-logo img{
  width: 70px;
}

.header .menu-bars .icon{
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  background: #731012;
  padding: .9rem;
  border-radius: 50px;
}

.header .menu-bars .icon li a{
  color: #731012;
  font-size: 1rem;
  background: white;
  padding: .4rem;
  border: 1px solid white;
  border-radius: 50%;
  transition: all 500ms ease;
}
.header .menu-bars .links li a:hover {
  color: #731012;
  background: white;
  border: 1px solid #731012;
}
.header .menu-bars .icon li a:hover{
  color: white;
  background: #731012;
  border: 1px solid white;
}

/*-------- menu-responsive    ------*/
.header .hamburger{
  z-index: 30;
  position: absolute;
  right: 1rem;
  display: none;
}



/*----    banner    ----*/
.banner{
  height: 60vh;
  background-image: linear-gradient(100deg, #00000040, #00000040) , url('../img/banner-lastresamigas.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1;
  /*animation: zoomBackground 20s ease-in-out infinite;*/
}




.banner .banner-text{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1rem;
}
.banner .banner-text h3{
  color: white;
  font-family: "Inika", serif;
  font-size: clamp(30px, 5vw, 50px);    /*3.5rem*/
  font-weight: 700;
}
.banner .banner-text p{
  color: white;
  font-family: "Italianno", cursive;
  font-size: clamp(40px, 5vw, 60px); /*4rem*/
  font-weight: 100;
}

/*---------  menu    -------*/
.slogan{
  min-height: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.slogan h2{
  color: #731012;
  font-size: 2rem;
}
.slogan .slogan-img{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}
.slogan .slogan-img figure{
  width: 100%;
  height: 70px;
}
.slogan .slogan-img figure img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*------  menu    ------*/
.menu{
  min-height: 135vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem .5rem;
}
.menu h2{
  color: #731012;
  font-size: 2.5rem;
}
.menu .container-menu{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80vh;
  overflow: hidden;
}
.menu .container-menu .menu-img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  transition: .5s ease;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.menu .container-menu .menu-img::before{
  content: '';
  background: rgba(37, 37, 37, 0.548);
  z-index: 2;
  position: absolute;
  width: 110%;
  height: 100%;
}
.menu .container-menu .menu-img:hover::before{
  content: '';
  background: rgba(0, 0, 0, 0.13);
  z-index: 2;
  position: absolute;
  width: 110%;
  height: 100%;
}
.menu .container-menu .menu-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s ease;
}
.menu .container-menu a{
  position: absolute;
  z-index: 4;
  width: 80px;
  height: 80px;
}
.menu .container-menu a svg{
  position: absolute;
  z-index: 10000;
  fill: white;
  border: 2px solid white;
  padding: 1rem;
  border-radius: 50%;
  transition: all 500ms ease;
}

.menu .container-menu a svg:hover {
  position: absolute;
  z-index: 10000;
  fill: rgb(54, 54, 54);
  border: 2px solid rgba(255, 255, 255, 0);
  background: white;
  padding: 1rem;
  border-radius: 50%;
}


.menu .container-menu .text{
  position: absolute;
  z-index: -4;
  opacity: 0;
  transform: translateY(70%);
  transition: 0s;
  bottom: 30%;
}
.menu .container-menu .menu-img:hover .text{
  z-index: 4;
  opacity: 1;
  transform: translateY(0);
  transition: all .95s;
}
.menu .container-menu .text h3{
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: .7rem;
}
.menu .container-menu .menu-img:hover img{
  transform: scale(1.1);
}
.menu .container-menu .menu-img:hover{
  width: 300px;
  filter: contrast(120%);
}

.menu .download{
  background: #731012;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-family: "Inria Sans", sans-serif;
  border-radius: 60px;
  border: 1px solid white;
  transition: all 500ms ease;
}
.menu .download:hover{
  background: white;
  color: #731012;
  border: 1px solid #731012;
}

/*------  menu-tablet   -------*/
.menu .menu-tablet{
  display: none;
}


/*----- promotions    -----*/
.promotions{
  background-image: url('../img/promociones.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;
  padding: 3rem;
}
.promotions::before{
  content: '';
  background-color: #731012;
  z-index: 2;
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
}
.promotions h2{
  text-align: left;
  width: 90%;
  color: white;
  font-size: clamp(40px, 6vw, 80px);  /*5rem*/
  font-weight: 400;
  font-family: "Inika", serif;
  text-transform: capitalize;
  z-index: 3;
}
.promotions .text{
  z-index: 3;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #EBEBEB;
  padding: 2rem;
}
.promotions .text .text-info h2{
  font-size: clamp(20px, 2vw, 20px);/*1.3rem*/
  color: #585858;
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

/*------  */
.section-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
  gap: 3rem;
}
.section-link h3{
  width: 40%;
  text-align: center;
  color: #585858;
  font-size: clamp(20px, 6vw, 50px); /*3rem*/
  text-transform: uppercase;
  font-family: "Inika", serif;

}
.section-link a svg{
  fill: white;
  width: 12rem;
  height: 12rem;
  padding: 1.5rem;
  background: #585858;
  border-radius: 50%;
  transition: .5s ease;
  border: 5px solid #585858;
}
.section-link a svg:hover{
  fill: #585858;
  background: white;
  border: 5px solid #585858;
}

/*----    our   -----*/
.our{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  padding: 2rem 0px;
  gap: 3rem;
}
.our .our-text{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  gap: 1rem;
}
.our .our-text h2{
  font-family: "Karla", sans-serif;
  font-size: clamp(20px, 4vw, 60px); /*3rem*/
  font-weight: 600;
  color: #731012;
}
.our .our-text p{
  text-align: center;
  color: #707070;
  font-family: "Josefin Slab", serif;
  font-size: clamp(15px, 1.5vw, 40px); /*1.3rem*/
}

.our .our-img{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr );
}
.our .our-img figure{
  width: 100%;
  height: 500px;
}
.our .our-img figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*------  CONTACT   -----*/
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .9rem;
  padding: 2rem 1rem;
  margin-top: 2rem;
}
.contact h3{
  text-align: center;
  font-size: clamp(40px, 6vw, 60px);/*3.4rem*/
  font-family: "Inika", serif;
  text-transform: capitalize;
  color: #731012;
  padding-bottom: 1.5rem;
}
.contact h4,
.contact p{
  text-align: center;
  font-family: "Instrument Sans", sans-serif;
  font-size: clamp(12px, 1.5vw, 30px);/*1.2rem*/
  color: #838383;
  font-weight: 200;
}
.contact .icon-i{
  padding: 1rem 0px;
  display: flex;
  gap: 2rem;
}
.contact .icon-i a{
  font-size: 3rem;
  background: #585858;
  padding: .5rem;
  color: white;
  border-radius: 50%;
  border: 2px solid #585858;
  transition: .5s ease;
}
.contact .icon-i a:hover{
  font-size: 3rem;
  background: white;
  color: #585858;
  border: 2px solid #585858;
}
.contact .map{
  width: 80%;
  height: 75vh;
  padding-bottom: 4rem;
}



/*----  footer    -----*/
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #731012;
  padding: 2rem 1rem;
  gap: 1rem;
}
.footer .container-footer{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}
.footer .footer-img{
  height: 150px;
}
.footer .footer-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer .container-footer h2{
  font-size: clamp(15px, 2vw, 20px);
  color: white;
  font-family: "Karla", sans-serif;
  font-weight: 100;
}
.footer hr{
  width: 90%;
  border: 1px solid rgb(156, 156, 156);
}
.footer .header-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
}
.footer .header-footer a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid #731012;
  transition: .5s ease;
}
.footer .header-footer a:hover{
  border-bottom: 2px solid white;
}
/*------  footer-nav    ----*/
.footer-nav{
  background: black;
  padding: 1.5rem 1rem;
}
.footer-nav a{
  text-decoration: none;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: clamp(10px, 1vw, 16px);
  font-weight: 100;
}
/*------  top    ----*/
.contact .top{
  font-size: 1.5rem;
  bottom: 0;
  background: #731012;
  font-family: "Instrument Sans", sans-serif;
  padding: .7rem 3rem;
  text-decoration: none;
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: .5s ease;
  border: 2px solid #731012;
}
.contact .top:hover{
  color: #585858;
  background: white;
  border: 2px solid #585858;
}
/*-----*/



/*------- header -------*/
@media (max-width: 1200px){
  .header .menu-bars{
  width: 90%;
}
.header .menu-bars .links{
  gap: 1rem;
}
}
@media (max-width: 900px){
  .header .menu-bars{
  width: 100%;
  padding: 0px 1rem;
}
.header .menu-bars .links{
  gap: .5rem;
}
}
@media(max-width: 800px){
  .header .menu-bars{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

/*-------   header    -----*/
.header .hamburger{
  display: block;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #731012 !important;
}
  .header .menu-bars .links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    height: 100dvh;
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    background: white;
    z-index: 20;
    transform:  translateX(100%);
    transition: .4s ease-in-out;
    font-size: 2rem;
  }
  .header .menu-bars .links.is-active{
    transform: translateX(0);
  }
  .header .menu-bars .links li span .icon-phone {
    margin: .5rem;
    color: white;
    background: #731012;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 50%;
    border: 1px solid #731012;
    transition: all 500ms ease;
  }

}


/*------  banner    ----*/
@media (max-width: 1200px){
  .banner .banner-text{
  width: 100%;
}
}






/*------ menu   --------*/
@media(max-width: 1200px){
  .menu .container-menu{
    width: 90%;
  }
}
@media (max-width: 900px){
  .menu .container-menu{
    display: none;
  }
  .menu .menu-tablet{
    width: 90%;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .menu .menu-tablet .menu-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    z-index: 1;
    transition: .5s ease;
  }
  .menu .menu-tablet .menu-img::before{
    content: '';
    background: rgba(0, 0, 0, 0.295);
    z-index: 2;
    position: absolute;
    width: 110%;
    height: 100%;
  }
  .menu .menu-tablet .menu-img:hover::before{
    content: '';
    background: rgba(0, 0, 0, 0.589);
    z-index: 2;
    position: absolute;
    width: 110%;
    height: 100%;
  }
  .menu .menu-tablet .menu-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
    transition: .5s ease;
  }
  .menu .menu-tablet .menu-img:hover img{
    transform: scale(1.1);
  }
  
  .menu .menu-tablet .menu-img .icon-a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    width: 100%;
    height: 100%;
  }
  .menu .menu-tablet .menu-img .icon-a svg{
    position: absolute;
    z-index: 10000;
    fill: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 1rem;
    border-radius: 50%;
    transition: all 500ms ease;
    z-index: 10;
    width: 80px;
    height: 80px;
    }
    .menu .menu-tablet .menu-img:hover svg{
    position: absolute;
    z-index: 10000;
    fill: rgb(54, 54, 54);
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    }
    
    .menu .menu-tablet .menu-img  .text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
      position: absolute;
    z-index: 10000;
    padding: 1rem;
    border-radius: 50%;
    transition: all 500ms ease;
    z-index: 5;
    }
    .menu .menu-tablet .menu-img  .text h3{
      color: white;
    font-family: "Karla", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
      padding-bottom: 1.5rem;
    }
}

@media (max-width:730px){
.menu .menu-tablet{
    width: 90%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .menu .menu-tablet .menu-img  .text h3{
      padding-bottom: 1rem;
    }
}



/*-------   promotions  ------*/
@media (max-width: 1100px){
  .section-link h3{
  width: 60%;
}
}
@media (max-width: 890px){
  .section-link h3{
  width: 90%;
}
}
@media(max-width: 600px){
  .section-link{
  padding: 1rem;
}
}
@media (max-width: 550px){
  .section-link{
  gap: 1rem;
}
  .section-link a svg{
  width: 8rem;
  height: 8rem;
}
}
@media(max-width: 660px){
  .promotions{
    padding: .5rem;
  gap: .5rem;
}
  .promotions .text{
  gap: .5rem;
  padding: 1rem;
}
}

/*------ our    ------*/
@media (max-width:1100px){
  .our{
  gap: 1rem;
}
  .our .our-text{
  width: 95%;
}
}
@media (max-width: 900px){
.our .our-text{
  width: 95%;
  padding: 1rem;
}
}
@media (max-width: 730px){
  .our .our-img{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr );
}
.our .our-img figure{
  width: 100%;
  height: 200px;
}
}
@media(max-width: 690px){
  .contact h3{
  padding-bottom: 0;
}
}
@media(max-width: 400px){
  .our .our-img{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr );
}
}
@media(max-width: 690px){
  .contact .map{
  width: 100%;
  height: 60vh;
}
}



